
body { 
    background-image: url("images/crt-nose1.png");
    background-repeat: repeat;
    background-blend-mode: difference;
    background-size: auto;
    background-position-y: 550px, 120px, 0px;
    background-position-x: 150px, 0px, 0px;
}

.box1 {
padding-bottom: 40%;
}

.sticky {
position: sticky;
position: -webkit-sticky;
top: 0;
}

p {
    top: 0;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc1ff;
    font-size: 150%;
    width: 200px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.text {
    font-family: "Courier New", monospace;
    text-align: left;
    color: black;
    background-color: #ffc1ff;
    font-size: 120%;
    padding: 0%;
    align-items: center;
}

.center {
  text-align: center;
}

.column {
    float: left;
    width: 33%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }