
body { 
    background-image: url("images/crt-nose1.png");
    background-repeat: repeat;
    background-blend-mode: difference;
    background-size: auto;
    background-position-y: 550px, 120px, 0px;
    background-position-x: 150px, 0px, 0px;
}


.sticky {
position: sticky;
z-index: 1;
position: -webkit-sticky;
top: 0;
}

p {
    top: 0;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc1ff;
    font-size: 150%;
    width: 200px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.text {
    font-family: "Courier New", monospace;
    text-align: left;
    color: black;
    background-color: #ffc1ff;
    font-size: 120%;
    padding: 0%;
    align-items: center;
    padding: 1em;
    margin: 3em 0;
}
.spacer {
  padding: 200px 0;
  margin: 0;
}

.center {
  text-align: center;
  position: relative;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  font-family: "Courier New", monospace;
  color: white;
  font-size: smaller;
  bottom: 1.5%;
  right: 21%;
}

.column {
    float: left;
    width: 33%;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  table, td {
    border:1px solid #2e222e;
    background-color: #ffc1ff;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 3px 2px 3px; 
    vertical-align: bottom; 
    font-weight: normal; 
    text-align: left; 
    border: 1px solid #000000;
  }
.smallText {
  font-size:0.7em;
}
  table, th {
    border-top: 1px solid #000000; 
    border-right: 1px solid #000000; 
    border-bottom: 1px solid #000000; 
    overflow: hidden; padding: 2px 3px 2px 3px; 
    vertical-align: bottom; 
    background-color: #ffc1ff; 
    font-weight: bolder;
  }

