@font-face {
    font-family: 'basteleur';
    src:  url('font/basteleur/fonts/webfonts/Basteleur-Bold.woff2') format('woff2'),
          url('font/basteleur/fonts/webfonts/Basteleur-Bold.woff') format('woff');
  }

body { 
    background-image: url("images/ewoud_alpha.png"), linear-gradient(darkorchid, #ffc1ff);
    background-repeat: no-repeat;
}

.sticky {
position: sticky;
position: -webkit-sticky;
top: 0;
}


button {
    float: right;
    background-color: aquamarine;
    color: darkorchid;
    font-size: 8px;
    border-radius: 45%;
    font-family: "Lucida Console", "Courier New", monospace;
}
.title {
    font-size: 75px;
    text-align: center;
    color: aquamarine;
    font-family: "Lucida Console", "Courier New", monospace;
}

p {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffc1ff;
    font-size: 200%;
    width: 220px;
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
    text-decoration:none;
 }

.first {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: aquamarine; 
    background-color: darkorchid;
    padding-left: 5%;
    padding-right: 30%;
}
.second {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color:rgb(255, 253, 119); 
    background-color: deepskyblue;
    padding-left: 10%;
    padding-right: 2%;
}
.third {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: deepskyblue; 
    background-color: rgb(255, 253, 119);
    padding-left: 5%;
    padding-right: 5%;
}
.fourth {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
    color: rgb(255, 253, 119);
    background-color: darkorchid;
    padding-left: 3%;
}

.fifth {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: right;
    font-size: 8px;
    color: rgb(207, 255, 119);
    background-color: darkorchid;
    padding-right: 3%;
}

.sixt {
    font-family: "basteleur";

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    font-size: 500%;
    background: -webkit-linear-gradient(darkorchid, #ffbc6f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 2%;
    padding-right: 0;
}

footer {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(207, 255, 119);
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

